.box {
  /* border: 1px solid black; */
  padding: 10px 20px;
  margin: 20px 10px;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(245, 245, 245);
}
.box-cover {
  display: flex;
  justify-content: center;
}
.box-img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
h1 {
  margin-top: 50px;
}
div button {
  margin-top: 25px;
}
button {
  width: 85px;
  height: 85px;
  background-color: rgb(249, 249, 249);
  border-radius: 100%;
  border: none;
  margin-right: 15px;
  padding: 20px;
}
button :hover {
  color: rgb(179, 175, 175);
  cursor: pointer;
}
.비김{
  border: 5px solid rgb(202, 202, 202);
}
.이김{
  border: 5px solid #568203;
}
.짐{
  border: 5px solid #BA0021;
}